.btn {
  border: none;
  color: #ff0303;
  font-weight: normal;
  background: #3fff00;
  border-radius: 20px;
}

.btn:hover {
  color: #3fff00;
  background: #ff0303;
}

.topic-list-item:hover{
  box-shadow: 5px 5px 10px grey;
}

.topic-list-item.category-staff:hover{
  box-shadow: 5px 5px 10px blue;
}

.category-staff{
  border-left: 5px solid blue;
}

.banner-top{
    background-image: url(https://wallpaperscraft.com/image/wood_cold_darkness_snow_54960_2560x1024.jpg);
    height: 600px;
    background-clip: border-box;
    background-position: center;
    background-attachment: fixed;
}

.d-header {
  background: #7adcdf;
}
